201907-Census_NY_Des_Moines.csv
201908-citibike-tripdata.csv
New_York_City_Population_By_Neighborhood_Tabulation_Areas.csv
station_zip_pop.csv
station_zipcode.csv
~Citi Bike NYC - Des Moines__17060.twbr
Citi Bike NYC - Des Moines.twb